.stand{
  display: flex;
  flex-direction: column;
  margin: 50px;
  border: 10px solid #FF370A ;
  color: #FF370A ;
  border-radius: 4px;
  background-image: url("../../images/card-background.jpg");
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  width: 200px;
  padding: 50px;
  height: auto;
  align-items: center;
  box-shadow: 10px 10px 30px black;
}
.standList{
  display: flex;
  flex-wrap: wrap;
  background-color:#1B1B1B;
  justify-content: center;
}
.stand__notes__delete{
  width: 100px
}
.stand__notes__edit{
  width: 100px
}

.saveNote{
  width: 150px;
  margin-top: 33px;
  margin-bottom: 100px;

}

.toggleButton{
  height:30px;
  margin:15px;
}
.formContainer{
  display: flex;
  justify-content: center;
}
.standNoteForm{
  display: flex;
  flex-direction: column;
  width: 33%;
  align-self: center;


}