.hunt{
  display: flex;
  flex-direction: column;
  margin: 50px;
  border: 10px solid #FF370A ;
  color: #FF370A;
  border-radius: 4px;
  background-image: url("../../images/card-background.jpg");
 
  width: 200px;
  padding: 50px;
  height: auto;
  align-items: center;
  box-shadow: 10px 10px 30px black;
  
}

.date{
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}
.standName{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Bebas Neue";
  letter-spacing: 3.5px;
  font-size: x-large;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}


.huntList{
  display: flex;
  flex-wrap: wrap;
  background-color:#1B1B1B;
  justify-content: center;
}
.bg{
  border-radius: 4px;
  background-color: black;
  padding:10px
}
.bgNote{
  font-family: "Bebas Neue";
  font-weight: 600;
  font-size: x-large;
  text-shadow: none;
  color: black;
  padding: 3px 0px
}

.huntButton{
  margin-left: 10px;
  margin-right: 10px;
}