
button{
  border-radius: 4px;
  background-color: #FF370A;
  border: 2px solid black;

  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
header{
  display: flex;
  flex-direction: column;
  background-image: url("./images/oh-deer-header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 345px
}

nav{
  align-self: center;
  margin-top: 275px;
}
.huntButton{
  margin-top: 15px;
}

.nav__Button{
  margin-left: 80px;
  margin-right: 80px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #FF370A;
  border: 2px solid black;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
body{
  background-color:black;
}
